<!DOCTYPE html>
<html>
<head>
    <title>Badminton Premier League</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Header -->
    <header>
        <img align="Center" src="{{ url_for('static', filename='PBL3 Combo.png') }}" alt="Logo" class="logo">
        <h1></h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="/">Home</a>
        <a href="/rules">Rules</a>
        <a href="/teams">Teams </a>
        <a href="/schedule">Schedule</a>
        <a href="/scores">Scores</a>
        <a href="/points_table">Pts Table</a>
        <a href="/mvp">Player Stat</a>
        <a href="/gallery">Gallery</a>
        <a href="/sponsor">Sponsors</a>
    </nav>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footertext">
        
            Sports Committee, PCYFOWA
        
    </footer>
    
   
</body>
</html>
