{% extends "base.html" %}

{% block content %}

<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 180px;
  padding-bottom: 10px
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 150px;
}

div.desc {
  padding: 5px;
  text-align: center;
}


</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="{{ url_for('static', filename='PBL3 Announcement.png') }}"">
    <img src="{{ url_for('static', filename='PBL3 Announcement.png') }}" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Announcement</div>
</div>

<div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 New format.png') }}"">
      <img src="{{ url_for('static', filename='PBL3 New format.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">New Format</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Registration.png') }}"">
      <img src="{{ url_for('static', filename='PBL3 Registration.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Registration</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Team & Captains.jpg') }}"">
      <img src="{{ url_for('static', filename='PBL3 Team & Captains.jpg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Teams & Captains</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Auction.jpg') }}"">
      <img src="{{ url_for('static', filename='PBL3 Auction.jpg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Auction</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='Teams.png') }}"">
      <img src="{{ url_for('static', filename='Teams.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Teams</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Schedule.png') }}"">
      <img src="{{ url_for('static', filename='PBL3 Schedule.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Schedule</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Late Entry.png') }}"">
      <img src="{{ url_for('static', filename='PBL3 Late Entry.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Late Entry</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Title Sponsor.png') }}"">
      <img src="{{ url_for('static', filename='PBL3 Title Sponsor.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Title Sponsor</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='PBL3 Combo.png') }}"">
      <img src="{{ url_for('static', filename='PBL3 Combo.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">PBL3 Logo</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='Sports Committee.jpg') }}"">
      <img src="{{ url_for('static', filename='Sports Committee.jpg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Sports Committee</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='Website launch.jpeg') }}"">
      <img src="{{ url_for('static', filename='Website Launch.jpeg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Website Launch</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='Co Sponsors.jpeg') }}"">
      <img src="{{ url_for('static', filename='Co Sponsors.jpeg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Co Sponsors</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='New Net.jpeg') }}"">
      <img src="{{ url_for('static', filename='New Net.jpeg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">New Net</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='Key Chain.jpeg') }}"">
      <img src="{{ url_for('static', filename='Key Chain.jpeg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Key Chain</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='Sports Committee.jpg') }}"">
      <img src="{{ url_for('static', filename='Sports Committee.jpg') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Sports Committee</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='SS.png') }}"">
      <img src="{{ url_for('static', filename='SS.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Smash Squad</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='NN.png') }}"">
      <img src="{{ url_for('static', filename='NN.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Net Ninjas</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='MS.png') }}"">
      <img src="{{ url_for('static', filename='MS.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Master Shuttlers</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='RW.png') }}"">
      <img src="{{ url_for('static', filename='RW.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Racquet Warriors</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='RoR.png') }}"">
      <img src="{{ url_for('static', filename='RoR.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Rally of Rohirrim</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{{ url_for('static', filename='TSF.png') }}"">
      <img src="{{ url_for('static', filename='TSF.png') }}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">The Shuttle Force</div>
  </div>
</body>
</html>

{% endblock %}