{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 style="text-align:center;font-size:300%"> Welcome to </h1>
<h1 style="text-align:center;font-size:300%"> Prestige Badminton Tournament</h1>
<p style="text-align:center;font-size:120%"> After 2 successful seasons of PCY badminton tournament, Season 3 (2025) of our annual intra community badminton 
tournament (PBL3!) is back and will held over 2 week ends on Jan 25(Sat), Jan 26(Sun), Feb 1(Sat) and Feb 2(Sun). Season 3
is in a new exciting teams format  </p>

<p style="text-align:center;font-size:120%"> 6 Teams and a record 90 PCYians inlcuding 49 mens, 14 womens & 27 kids will 
    be battling it out for badminton supremacy and bragging rights  </p>

    <p style="text-align:center;font-size:120%"> Do come to watch & support your fellow PCYians </p>

<img src="{{ url_for('static', filename='Sports Committee.jpg') }}" alt="Bodylogo" class="Bodylogo">

{% endblock %}
