{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 style="text-align:center;font-size:300%"> Welcome to </h1>
<h1 style="text-align:center;font-size:300%"> Prestige Badminton Tournament</h1>
<p style="text-align:center;font-size:120%"> After two sucessfull seasons, the PCY Badminton 
    Tournament returns with Season 3 (PBL3!), our biggest annual intra-community sporting showdown. 
    Mark your calendars for Jan 25 (Sat), Jan 26 (Sun), Feb 1 (Sat), and 
    Feb 2 (Sun), as we unveil a new dynamic and exhilarating team-based format.</p>

<p style="text-align:center;font-size:120%"> Six formidable teams and a record 90 passionate 
    PCYians—featuring 49 men, 14 women, and 27 spirited kids are set to clash in a quest for 
    badminton glory and ultimate bragging rights  </p>

    <p style="text-align:center;font-size:120%"> Join us to witness the action, cheer for your 
        fellow PCYians, and celebrate the spirit of sports </p>

<img src="{{ url_for('static', filename='Sports Committee.jpg') }}" alt="Bodylogo" class="Bodylogo">

{% endblock %}
