{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center;font-size:200%""> Tournament Format</h1>

<ol type="1">
    <li>League - Round robin between all the 6 teams, each team will have 5 ties</li>
    <li>Each tie will have 12 matches under 7 categories</li>
    <ol type="i">
        <li>Kids Doubles - 2, Kids Singles - 1, Adult/Kids Doubles – 2</li>
        <li>Women’s Doubles - 1, Mixed Doubles (Adult) – 1</li>
        <li>Men's Singles - 1, Men's Doubles - 4  </li></ol>
    <li>All league matches will be best of 1 game only. Kids Singles – 15 points, Men’s Doubles 30 points, rest all the matches will be for 21 Points</li>
    <li>NO tie breaker at 29 each in a 30 point game, there will be tie breaker at 14 each in a 15 point game and 20 each in a 21 point game ( for league stage)</li>       
    <li>Semis, 3rd Place & Finals : Best of 3 games, 21 points per game </li>
    <li>Order of play for a tie – Kids Singles, Kids Doubles 1 & 2, Women’s Doubles, Adult/Kids Doubles 1, Mixed Doubles Adult, Adult/Kids Doubles 2, Men’s Singles, All Men’s Doubles (No changes will be made to this order of play)</li>
    <li>Each match win will earn 2 points and 0 points for a loss</li>
    <li>Point difference (PD) will be the tie breaker if teams are tied on same # points</li>
    <li>Toss 30 mins before the start, Captains to submit the team sheet to OC during toss. Each match to be between the teams in the same order as in the team sheet. For e.g when Team A is playing Team B, first men's doubles will be between Pair 1 from Team A’s Sheet vs Pair 1 in Team B Sheet</li>
    <li>Each team to nominate 2 match in a tie as their Trump match (in Team Sheet, before the toss), each trump match win will earn 4 point, but a loss of your trump match will be -2 (Minus) points</li>
    <li>Point  difference (PD) calculation for Trump match will remain the same as a normal match</li>
    <li>Same match can be a Trump matches for both teams, if both captains choose so. Points awarded / Point Difference (PD) for such a Trump match will remain the same as any other trump match</li>
    <li>Only 1 Toss per tie and a toss win will earn the right to choose Side or Service for first 6 or last 6 matches in a tie</li>
    <li>Semi’s : End of league Seed # 1 vs Seed # 4 and Seed # 2 vs Seed 3</li>
    <li>3rd Place between Semis losers</li>
    <li>Finals between semi’s winners</li> </ol>

    <h1 style="text-align:center;font-size:200%""> Player Rotation</h1>

    <ol type="1">
<li>Each player should play minimum & cannot play more than maximum during league stage</li>
<ol type="i">
    <li>Kids : Min 7 & Max 9</li>
    <li>Women’s : Min 5 & Max 8</li>
    <li>Men's : Min 7 & Max 9</li></ol>
** For teams having 9 Men’s  : 6 men to play min 7 and 3 men’s 6 each
<li>A player not playing minimum matches will lead to points/PD deduction or walkover of a match</li>
<li>Through out the tournament (Including Semi’s & Finals) one player cannot play more than 1 match in the same category per tie</li></ol>

   
<h1 style="text-align:center;font-size:200%"> Player Substitution (Leagues stage only)</h1>
<ol type="1">
<li>A match can be rescheduled to reserve slot of the same day given both captains and OC agrees (To be notified during toss)</li>
    <li>Reserve slots are only for matches scheduled on the same day</li>
        <li>All substitution to be announced during toss in team sheet & to be agreed by both captains  and OCs</li>
            <li>No new or change in substitutions after the toss</li> 
                <li>Substitutes from another team are not allowed </li>
                    <li>Only 1 Substitution per category (Kids, Women’s & Men's) per tie will be allowed, so a total of only 3 substitution per tie for a team</li>
                        <li>Auction price of the substituting player cannot be greater than the player being substituted (Does not apply during reverse substitution)</li>
                            <li>Only straight swap of substitution allowed. Player A substitutes Player B in a tie and B will substitute A in another tie. Substitutions like A-> B-> C -> A are not allowed</li>
                                <li>Game being played by substitute will be considered against his/her Min & Max counts. Player rotation rule # 2 is not applicable for substitutes </li>
                                    <li>If an eligible player is not available for a match, it will be considered as walk over</li>
                                        <li>Point difference for a walk over match (Not played at all) will be the games maximum points. PD calculation if it’s a walk over mid game, Max point minus the points taken when walk over was given</li>
                                            <li>No substitutes and rescheduling for Semis & Finals </li></ol>


<h1 style="text-align:center;font-size:200%"> Other General Rules</h1>

<ol type="1">
<li>Mavis 350 shuttle will be used</li>
    <li>BWF rules are applicable</li>
        <li>Non marking shoes are mandatory (bare foot is fine but not advised), street shoes and other normal sports shoes are strictly not allowed</li>
            <li>Organizers and umpire decisions are final</li>
                <li>Rules are subject to change by OC and any change will be notified</li></ol>

{% endblock %}
