{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center;font-size:130%;color: #f50d0d;"> -Title Sponsor- </h1>
<img src="{{ url_for('static', filename='Thomas Sports.png') }}" alt="Bodylogo3" class="Bodylogo3">

<p style="text-align:center;font-size:110%"> <a href="https://thethomassports.com/"> https://thethomassports.com/ </a><br>
Whatsapp @ 8072968432<a href="https://wa.me/918072968432"> (Link)</a> <br>
Follow <a href="https://www.instagram.com/thethomassports?igsh=MWdnZncwb3ptdjdkaw==">Insta page</a> <br>
Medavakkam <a href="https://maps.app.goo.gl/5u45GF93e4zRRhQZ9"> Google maps</a>   </p> <br>

<h1 style="text-align:center;font-size:120%;color: #f50d0d;"> -Co Sponsors- </h1>
<img src="{{ url_for('static', filename='Foot Relief.jpg') }}" alt="Bodylogo3" class="Bodylogo3">

<p style="text-align:center;font-size:100%"> <a href="https://footrelief.in/"> https://footrelief.in</a><br>
Whatsapp @ 8072968432<a href="https://wa.me/917200398091"> (Link)</a> <br>
Follow <a href="https://www.instagram.com/footrelief_sholinganallur?igsh=ZmF1YWtoaTVibGg0">Insta page</a> <br>
Sholinganallur (Elcot Avenue) <a href="https://maps.app.goo.gl/49iJ1H6Po4b5PGat8"> Google maps</a>   </p> <br>

<img src="{{ url_for('static', filename='Pod Cafe.png') }}" alt="Bodylogo5" class="Bodylogo5">
<p style="text-align:center;font-size:100%">Whatsapp @ 9176196777<a href="https://wa.me/919176196777"> (Link)</a> <br>
    Follow <a href="https://www.instagram.com/bistrobypod?igsh=MWhjZTNlM2o1bmp5bw==">Insta page</a> <br>
2 mins walk from PCY <a href="https://maps.app.goo.gl/YHgGDtQ3n7vzok1q8"> Google maps</a>   </p>
    



{% endblock %}
