{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center;font-size:100%"> -Title Sponsor- </h1>
<img src="{{ url_for('static', filename='Thomas Sports.png') }}" alt="Bodylogo3" class="Bodylogo3">

<p style="text-align:center;font-size:120%"> <a href="https://thethomassports.com/"> https://thethomassports.com/ </a>  </p>

<p style="text-align:center;font-size:120%"> Whatsapp @ 8072968432 <a href="https://wa.me/918072968432"> (Link)</a> </p>

<p style="text-align:center;font-size:120%"> Follow <a href="https://www.instagram.com/thethomassports?igsh=MWdnZncwb3ptdjdkaw=="> Insta page</a> </p>

<p style="text-align:center;font-size:120%"> Location : Medavakkam <a href="https://maps.app.goo.gl/5u45GF93e4zRRhQZ9"> Google maps </a>   </p>



{% endblock %}
